<section class="container detailMobile">
  <label class="voltarSimbolo" (click)="backToHome()">< <span class="voltarText">voltar</span></label>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p>Participações do personagem</p>
    </div>
    <div class="col-12 card" *ngFor="let detail of heroDetail">
      <img class="card-img-top" [src]="detail.thumbnail.path +'/standard_medium.'+detail.thumbnail.extension" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{detail.title}}</h5>
      </div>
    </div>
  </div>
</section>


<section class="container detailDesktop">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <p>Participações do personagem</p>
    </div>
    <div class="card col-lg-12" *ngFor="let detail of heroDetail">
      <img class="card-img-top" [src]="detail.thumbnail.path +'/standard_medium.'+detail.thumbnail.extension" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{detail.title}}</h5>
      </div>
    </div>
  </div>
</section>
