/* --------------------tela mobile-------------------- */
.cardDesktop {
  display: none;
}

.cardMobile {
  display: inline;
  position: relative;
}

.divPersonagem {
  position: relative;
}

.labelPersonagem {
  position: absolute;
  margin-top: 40px;
  font-size: 11pt;
  right: 0;
}

.divCard {
  margin-top: 70px;
}

.card {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 80px;
  cursor: pointer;
}

.card p {
    line-height: 50px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
}

.card img {
  width: 60px;
  height: 60px;
}

.paginationDiv {
  position: absolute;
  background-color: #fff;
  padding: 30px 0px 30px 0px;
  left: 0;
  right: 0;
}

.botaoPagination {
  padding: 5px 10px;
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 5px;
  margin: 10px;
  color: #555555;
}

.active {
  background-color: #167ABC;
  border: 1px solid #167ABC;
  color: #fff;
}

.paginationOpt {
  font-family: 'PT Sans Caption', sans-serif;
  color: #8E8E8E;
  font-weight: 100;
  font-size: 15pt;
  cursor: pointer;
  line-height: 3.5rem;
  margin-right: 10px;
  margin-left: 10px;
}
/* --------------------tela desktop-------------------- */
@media (min-width: 768px) {
  .cardMobile {
    display: none;
  }

  .cardDesktop {
    display: inline;
  }

  .labelOne {
    margin-left: 0.5rem;
    margin-top: 40px;
    font-size: 11pt;
  }

  .labelTwo {
    margin-left: 1.5rem;
    margin-top: 40px;
    font-size: 11pt;
  }

  .labelThree {
    margin-left: 1rem;
    margin-top: 40px;
    font-size: 11pt;
  }

  .card {
    position: relative;
    margin-bottom: 5px;
    padding: 25px 15px 20px 15px;
    height: 100%;
  }

  .card:hover {
    border-radius: 4px;
    box-shadow: 0 0 0.3em #555;
  }

  .divCardOne {
    display: flex;
    flex-direction: row;
  }

  .divCardThree ul {
    list-style: none;
  }

  .divCardTwo ul {
    list-style: none;
  }

  .divCardTwo ul>li {
    margin-top: -15px;
  }

  .divCardThree ul>li {
    margin-top: -15px;
  }

  .divCardOne .nameHero {
    font-weight: bold;
    font-size: 15px;
  }

  .eventsHero {
    font-weight: 300 !important;
    font-size: 15px;
  }

  .seriesHero {
    font-weight: 300 !important;
    font-size: 15px;
  }

  .divCardOne img {
    width: 60px !important;
    height: 65px !important;
  }
}
