<!-- card-mobile -->
<section class="container cardMobile">
  <div class="row">
    <div class="col-6 divPersonagem">
      <label class="labelPersonagem">Personagem</label>
    </div>
    <div class="col-12 divCard">
      <div class="card" *ngFor="let hero of heroes" (click)="detailPage(hero)">
        <img [src]="hero.thumbnail.path +'/standard_medium.'+hero.thumbnail.extension" alt="">
        <p>{{hero.name}}</p>
      </div>
    </div>
  </div>
</section>
<!-- card-desktop -->
<section class="container cardDesktop">
  <div class="row">
    <div class="col-lg-4">
      <label class="labelOne">Personagem</label>
    </div>
    <div class="col-lg-4">
      <label class="labelTwo">Séries</label>
    </div>
    <div class="col-lg-4">
      <label class="labelThree">Eventos</label>
    </div>
  </div>
  <div class="row">
    <div class="card" *ngFor="let hero of items;" (click)="detailPage(hero)">
      <div class="col-lg-4 divCardOne">
        <img [src]="hero.thumbnail.path +'/standard_medium.'+hero.thumbnail.extension" alt="">
        <p class="nameHero">{{hero.name}}</p>
      </div>
      <div class="col-lg-4 divCardTwo">
        <ul *ngFor="let series of hero.series.items">
          <li class="seriesHero">{{series.name}}</li>
        </ul>
      </div>
      <div class="col-lg-4 divCardThree">
        <ul *ngFor="let events of hero.events.items">
          <li class="eventsHero">{{events.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <app-pagination></app-pagination> -->

<div class="row paginationDiv">
  <div class="col-12 d-flex justify-content-center">
    <div class="btn-group float-right">
      <label class="paginationOpt"><</label>
      <button class="botaoPagination"
        *ngFor="let page of pageNumbers"
        (click)="changePage(page)"
        [class.active]="page == selectedPage">{{page}}
      </button>
      <label class="paginationOpt">></label>
    </div>
  </div>
</div>
